/* ==================================================================
    VARIABLES
================================================================== */

:root {
  --block-background: #1C1E1F;
  --small: 10px;
  --normal: 19px;
  --text-color: hsv(0, 0%, 20%);
}

/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

body {
    background-color: #181A1B;
    /* background-color: #131516; */
    color: #E8E6E3;
    text-align: justify;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: var(--normal); */
  font-size: 18px;
  color: var(--text-color);
}


/* ==================================================================
    BASIC GRID FOR PROFILE PIC
================================================================== */

.franklin-content .row {
  display: block;
}

.franklin-content .left {
  float: left;
  margin-right: 15px;
}

.franklin-content .right {
  float: right;
}

.franklin-content .container img {
  width: auto;
  padding-left: 0;
  border-radius: 10px;
}

.franklin-content .footnote {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.franklin-content .page-foot a {
  /* color: #a6a2a0; */
  color: #429FFF;
  text-decoration: none;
}

.page-foot {
  font-size: 16px;
  font-family: Arial, serif;
  color: #a6a2a0;
  text-align: center;
  margin-top: 4em;
  border-top: 0.5px solid #666464;
  padding-top: 0em;
  margin-bottom: 4em;
}

/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-toc li {
  /* Avoid clickable elements being too close together. */
  margin: 0.6rem 0;
}

.franklin-content {
  position: relative;
  padding-left: 12.5%;
  padding-right: 12.5%;
  line-height: 1.35em;
}

/* Custom line height adjuster */
.lesser-height {
    line-height: 0.8em;
}

/* On wide screens, fix content width to a max value. */
@media (min-width: 940px) {
  .franklin-content {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* On narrow device, reduce margins. */
@media (max-width: 480px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1 { font-size: 29px; }
.franklin-content h2 { font-size: 24px; }
.franklin-content h3 { font-size: 20px; }

.franklin-content h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.franklin-content h1 {
  padding-bottom: 0.5em;
  /* border-bottom: 3px double #666464; */
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.franklin-content h2 {
  padding-bottom: 0.1em;
  /* border-bottom: 1px solid #666464; */
  margin-top: 2em;
  margin-bottom: 1em;
}


.franklin-content h1 a { color: inherit; }
.franklin-content h1 a:hover { text-decoration: none; }
.franklin-content h2 a { color: inherit; }
.franklin-content h2 a:hover { text-decoration: none; }
.franklin-content h3 a { color: inherit; }
.franklin-content h3 a:hover { text-decoration: none; }
.franklin-content h4 a { color: inherit; }
.franklin-content h4 a:hover { text-decoration: none; }
.franklin-content h5 a { color: inherit; }
.franklin-content h5 a:hover { text-decoration: none; }
.franklin-content h6 a { color: inherit; }
.franklin-content h6 a:hover { text-decoration: none; }

.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.franklin-content th,
td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid black;
}

.franklin-content blockquote {
  background: var(--block-background);
  border-left: 3px solid #555555;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
  opacity: 0.7;
}

.franklin-content blockquote p {
  display: inline;
}

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* Spacing between bullet points. */
.franklin-content li p {
  margin: 10px 0;
}

.franklin-content a {
  color: #429FFF;
  text-decoration: none;
}

.franklin-content a:visited {
  color: #8b6fcb;
  text-decoration: none;
}

.franklin-content a:hover {
  text-decoration: underline;
}

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a { color: green; }
.franklin-content .bibref a { color: green; }

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 70%;
  padding-left: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content img {
  width: 70%;
  align: left;
  text-align: center;
  padding-left: 0%;
}

.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}

/* For when images are just too small to see */
.im-small img {
    padding-left: 10%;
    width: 85%;
    text-align: center;
}

/* For crypto stuff */
.crypto img {
    display: block;
    padding-left: 10%;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;

  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.no-number .katex-display::after {
    counter-increment: nothing;
    content: "";
}

/*
.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}
*/

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
  background-color: #1C1E1F;
  color: #E94A93;
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: 15px;
}

/* .franklin-content code {
  background-color: rgba(27,31,35,0.05);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: 90%;
} */

.hljs {
  /* font-size: var(--small); */
  font-size: 15px;
  line-height: 1.45em;
  border-radius: 2px;
  color: #d3cdcd;
  /* background-color: #1e1e1e; */
  background-color: #1C1E1F;
}

.hljs-meta,
.hljs-metas,
.hljs-metap { font-weight: bold; }

.hljs-meta { color: rgb(25, 179, 51); }

.hljs-metas { color: red; }

.hljs-metap { color: rgb(51, 131, 231); }

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
  background-color: #eef3f5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid #4c9cf1;
}

/* These settings are for the cryptocurrency donation QR codes and info on the
 * main page. */
.qr { max-width: 150px ; padding: 10px; border: none; }
.cryptocontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.cryptoinfo code,.crypto {
	font-size: small ;
	overflow-wrap: break-word ;
}

.rss-icon {
    position: relative;
    top: 2px;
}


/* ==================================================================
    BLOG POSTS (source: abhishalya)
================================================================== */

ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: #8b6fcb;
}


/* ==================================================================
    Various additions to the default theme
================================================================== */

.description {
  margin-top: 4px;
  margin-bottom: 24px;
}

.avatar-image {
  width: 8rem !important;
  heigth: auto;
  border-radius: 50%;
}

.tikz img {
  /* centering */
  display: block;
  margin: auto;
}

.page-title {
  margin-bottom: 0.4rem !important;
}

.page-date {
  display: block;
  font-style: italic;
  margin-bottom: 40px;
}

/* ==================================================================
    Custom additions to the website
================================================================== */

/* For inserting snippets of smaller size text */
.smol {
    font-size: 16px;
    color: var(--text-color);
}

.left {
    background-color: #181A1B;  /* lighter-dark */
    /* background-color: #131516;  /* darker-dark */
    color: #E8E6E3;
    text-align: left;
}

.displayPicture {
    width: 40%;
    float: right;
    padding-left: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-top: 5%;
}

.imgContainer {
    float: left;
    padding-left: 10%;
    width: 30%;
}

.front-heading {
  border-bottom: 1px solid #666464;
  line-height: 15px;
}
